%script#body_template{type: 'text/template'}
  .top-row
  .body-text
    <%- text %>
  .bottom-row

= render 'chat_template'
= render 'body_services_template'
= render 'body_guides_template'
= render 'body_portfolio_template'
= render 'body_counselor_template'
= render 'body_contacts_template'
