= render 'portfolio_category'
= render 'portfolio_tab'
%script#body_add-work_template{type: 'text/template'}
  .portfolio-card.row.input-form{"data-server-code" => 'add-work'}
    .card-entry.tight.col.s-ninety
      .input-field      
        %input#add-work-title{type: 'text', name: 'title'}
        %label{for: 'add-work-title'}
          Job Title
      .input-field
        %input#add-work-workplace{type: 'text', name: 'workplace'}
        %label{for: 'add-work-workplace'}
          Workplace

%script#body_add-achievement_template{type: 'text/template'}
  .portfolio-card.row.input-form{"data-server-code" => 'add-an-achievement'}
    .card-entry.tight.col.s-ninety
      .input-field
        %input{type: 'hidden', name: 'achievement_type', value: '<%- achievement_type %>'.html_safe}
        %input#add-achievement{type: 'text', name: 'text'}
        %label{for: 'add-achievement'}
          What did you achieve?

%script#body_portfolio_work_experience{type: 'text/template'}
  .card-entry.col.s-ninety.pointer
    .work-title
      <%- title %>
    .work-workplace
      <%- workplace %>
    .work-worktime
      11/01/16 - 12/30/16
        
%script#body_portfolio_achievement{type: 'text/template'}
  .card-entry.col.s-ninety.pointer
    .ach-text
      <%- text %>

%script#body_portfolio_template{type: 'text/template'}
  .switcher-tab.row
    .col.s3#goto-public.goto.selected.pointer
      public
    .col.s3#goto-portfolio-friends.goto.pointer
      friends
    .col.s3#goto-portfolio-likes.goto.pointer
      likes
    .col.s3#goto-milestones.goto.pointer
      milestones
      
  .portfolio-sub-card#public.selected
    = render partial: 'main_portfolio_partial', locals: {img_dz_id: 'portfolio-img'}
    .portfolio-card.row#workex
      .title.col.s12
        = t('body.portfolio.work_experience')
      .card-entry.col.s-ninety.pointer.add-card.waves-effect.waves-indigo.lighten-5{"data-card-type" => 'work-experience'}
        .light-text
          = t('body.portfolio.add_work_experience')
    .row.signout-row
      .col.s12.btn.pointer#sign-out
        Sign Out

%script#body_public-portfolio_template{type: 'text/template'}
  .portfolio-card.row
    = render partial: 'main_portfolio_partial', locals: {img_dz_id: 'intentional-blankid'}
