%script#footer_template{type: 'text/template'}
  .col.s1.s-fifth
    .pointer.nav-change{'data-target' => 0}
      .responsive-img.nav-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#nav-services'}
      .nav-title
        = t('icons.services')
  .col.s1.s-fifth
    .pointer.nav-change{'data-target' => 1}
      .responsive-img.nav-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#nav-guides'}
      .nav-title
        = t('icons.guides')
  .col.s1.s-fifth
    .pointer.nav-change{'data-target' => 2}
      .responsive-img.nav-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#nav-counselor'}
      .nav-title
        = t('icons.counselor')
  .col.s1.s-fifth
    .pointer.nav-change{'data-target' => 3}
      .responsive-img.nav-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#nav-portfolio'}
      .nav-title
        = t('icons.portfolio')
  .col.s1.s-fifth
    .pointer.nav-change{'data-target' => 4}
      .responsive-img.nav-img
        %svg
          %use{x: '0', y: '0', "xlink:href" => '#nav-contact'}
      .nav-title
        = t('icons.contact')
