= render "header_svgs"
= render "body_svgs"
= render 'nav_svgs'
#login_token{style: 'display: none;', "data-value" => @logged_in}
.main-app
= render 'header_template'
= render 'body_overlay'
= render 'body_logged_out'
= render 'body_template'
= render 'footer_template'
  
